.flex-container {
    display: flex;
}

.flex-info-box {
    display: flex;
    flex-direction: column;
    width: 100%
}

.flex-container-column-direction {
    display: flex;
    flex-direction: column;
}

.flex-container-space-between {
    display: flex;
    justify-content: space-between;
}

.span-bold {
    font-weight: bold;
}

.pages-carousel {
    margin-right: 20px;
}

.pages-carousel .carousel-inner, .pages-carousel .carousel-item, .pages-carousel img {
    width: 290px; 
    height: 440px;
}

.button-edit {
    width: 100px;
    height: 50px;
    align-self: center;
}

.button-pages {
    width: 100px;
    height: 70px;
    align-self: center;
}